<!-- bootstrap element 1 of email + passowrd  -->
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <!-- user name-->
  <label for="username" class="form-label">Username</label>
  <input type="text" class="form-control" id="username" />
  <!-- password -->
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
</form>

<!-- group drop down menu -->
<label for="group" class="form-label">Group</label>
<select class="form-select" id="group">
  <option selected>Select group</option>
  <option value="1">Griffith Uni Events</option>
  <option value="2">Peer Mentor Group</option>
  <option value="3">Griffith Mates</option>
  <option value="4">ICT Club group</option>
</select>

<!-- submit button   -->
<br />
<button type="submit" class="btn btn-primary">Submit</button>
