<!-- top section  -->
<div class="jumbotron">
  <h1 class="display-4">Welcome to the chatrooms for (group name)</h1>
  <p class="lead">
    We have some ground rules for the chatrooms:<br />
    1. Users are to be respectful and kind to each other.<br />
    2. No spamming or flooding the chat.<br />
    3. Keep conversations relevant to the channel topic.
  </p>
  <hr class="my-4" />
</div>

<!-- CHAT of CHANNEL 1    -->
<div class="container mt-4">
  <div class="row">
    <!-- Chat area CHAT  -->
    <div class="col-md-8">
      <h3>Channel:1</h3>

      <div class="border p-3 mb-3" style="height: 200px; overflow-y: auto">
        <!-- messages will go here -->
        <p></p>
      </div>

      <form class="d-flex">
        <input
          class="form-control me-2"
          name="message"
          placeholder="Type a message..."
          required
        />
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
    </div>

    <!-- List area (right) USERS! -->
    <div class="col-md-4">
      <h4>Users</h4>
      <ul class="list-group">
        <li class="list-group-item">Username1</li>
        <li class="list-group-item">Username2</li>
        <li class="list-group-item">Username3</li>
        <li class="list-group-item">Username4</li>
        <li class="list-group-item">Username5</li>
      </ul>
    </div>
  </div>
</div>
<!-- chat 2  -->
<!-- CHAT of CHANNEL 2    -->
<div class="container mt-4">
  <div class="row">
    <!-- Chat area CHAT  -->
    <div class="col-md-8">
      <h3>Channel:2</h3>

      <div class="border p-3 mb-3" style="height: 200px; overflow-y: auto">
        <!-- messages will go here -->
        <p></p>
      </div>

      <form class="d-flex">
        <input
          class="form-control me-2"
          name="message"
          placeholder="Type a message..."
          required
        />
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
    </div>

    <!-- List area (right) USERS! -->
    <div class="col-md-4">
      <h4>Users</h4>
      <ul class="list-group">
        <li class="list-group-item">Username1</li>
        <li class="list-group-item">Username2</li>
        <li class="list-group-item">Username3</li>
        <li class="list-group-item">Username4</li>
        <li class="list-group-item">Username5</li>
      </ul>
    </div>
  </div>
</div>
