<div class="jumbotron">
  <div class="d-flex align-items-center gap-2">
    <h1 class="display-4 mb-0">
      Welcome to <span class="text-primary">ChatAway</span> Channels
    </h1>
    <img
      src="logo.png"
      alt="ChatAway"
      class="img-fluid"
      style="max-height: 60px"
    />
  </div>
  <br />
  <p class="lead">
    A friendly space for students to <b>join groups & clubs</b>, access
    dedicated <b>chatrooms</b>, and help each other with
    <b>timely updates, Q&A, and resources</b>. The channels you see will
    automatically match the <b>groups you are part of</b>, so you only get
    information that’s relevant to you.
  </p>
  <hr class="my-4" />
  <p></p>
</div>

<!-- channels -->

<div class="d-flex gap-4 flex-wrap justify-content-center">
  <div
    class="card text-bg-dark mb-3"
    style="width: 22rem"
    *ngFor="let ch of channels; let i = index"
  >
    <div class="card-header">Channel</div>
    <div class="card-body">
      <h5 class="card-title">{{ ch.name }}</h5>
      <p class="card-text">{{ ch.des }}</p>
    </div>
    <button type="button" class="btn btn-success">Enter Chat</button>
  </div>
</div>
